{{#section 'title'}}
  Sản Phẩm Đang Đấu Giá
{{/section}}

{{#if noProducts }}
    KHÔNG CÓ SẢN PHẨM
{{else}}
{{#each products }}
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="../product/chitietsanpham/{{idSanPham}}"><span style="color:white"><strong>{{tenSanPham}}</strong></span></a>
                </div>
                <div class="panel-body">
                    <div class="col-sm-2">
                        <img src="/image/{{urlImage}}/1.jpg" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-sm-7">
                        <div>Giá đấu hiện tại :{{number_format giaHienTai}} </div>
                        <div>Giá mua ngay : {{number_format giaMuaNgay}}</div>
                        <div>Lượt Bid :{{luotBid}}</div>
                        <div>Thời điểm kết thúc: {{time_format thoiDiemKetThuc}}</div>
                    </div>
                    <div class="col-sm-3">
                        <div>Giá đấu của bạn </div>
                        <div name="hightestBidder"> <b>{{number_format giaDau}}</b> </div>
                        <div> Người đang giữ giá cao nhất: </div>
                        <div name="hightestBidder"> <b>{{hoTen}}</b> </div>
                    </div>
                   <!-- <div class="col-sm-4">
                        <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#ModalBiding">&nbsp;BID&nbsp;</button>
                        <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#ModalBuy">&nbsp;Mua ngay&nbsp;</button>
                        <button type="button" class="btn btn-danger btn-md top_padding" data-toggle="modal" data-target="#ModalQuitBiding">&nbsp;Bỏ đấu giá&nbsp;</button>
                    </div>-->
                </div>
            </div>
        </div>
</div>
 {{/each}}
 {{/if}}