{{#section 'title'}}
Trang chủ
{{/section}}
{{#section 'searchbox'}}
    <!--Seach BOX -->
<div class="text-center" style="height:15px;">
    <form class="form-inline">
      <div class="input-group">
          <input type="text" class="form-control" name="productName" id="txtname" size="20" placeholder="Gõ tên sản phẩm muốn tìm" >
          <div class="input-group-btn">
            <a href="" class="btn btn-default" id="btnSearch"><span class="glyphicon glyphicon-search"></span></a>
          </div>
        </div>
     </form>
</div>
<!--End Seach BOX -->
{{/section}}

          <!--header-->
        

         
       <div style="border-bottom: 2px solid #F8F8F8;">
          <h1 style="width:300px;background-color:#F8F8F8;border: 1px solid #F8F8F8;border-radius:25px;margin-top:-6px;margin-bottom:-10px;color: #333333"><strong><i>TOP 5 LƯỢT BID</i><strong></h1>
       </div>
       <br>
       <div class="row" style="border: 2px solid #F8F8F8;border-radius:25px;">
         {{#each productsBid }}
       
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                      <div class="row">
                           <div class="form-group">
                              <a href="product/chitietsanpham/{{idSanPham}}" class="col-sm-10"><span style="color:#333333"><strong>{{tenSanPham}}</strong></span></a>   
                                <div id="{{idSanPham}}" class="col-sm-2" style="font-weight:bold;font-family:arial;font-style: italic;"></div>
                           </div>
                       </div>
                </div>
              <div class="panel-body"><img src="{{urlImage_format urlImage1}}" class="img-responsive" style="width:100%;height:200px;" alt="Image">
                  <div class="row">
                     <div class="col-sm-5">
                      <div><span >Giá hiện tại: </span></div>
                      <div><span >Mua ngay: </span></div>
                      <div><span >Lượt Bid : </span></div>
                      <div><span >Giữ giá: </span></div>
                      <div> Còn lại : </div>
                    </div>
                    <div class="col-sm-7">
                      <div><span style="color:blue;"><i>{{number_format giaHienTai}} VNĐ</i></span></div>
                      <div><span style="color:#02EE03;"><i>{{number_format giaMuaNgay}} VNĐ</i></span></div>
                      <div><span style="color:red;"><i>{{luotBid}}</i></span></div>
                       <div><span style="color:red;"><i  class="{{idSanPham}}giugia"></i></span></div>
                      <div><i class="{{idSanPham}}extra"></i></div>
                    </div>
                  </div>  
              </div>
              <div class="panel-footer text-center">
                
               {{#if ../layoutVM.isCookie}}

                  <a href="/product/favourite/{{idSanPham}}" id="{{idSanPham}}favor" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                  {{else}}
                  <a href="/user/login" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></a> 
                  {{/if}}
              </div>
            </div>
         </div> 
       
         {{/each}}
       </div>
        
       <div><h1 style="width:400px;background-color:#F8F8F8;border: 1px solid #F8F8F8;border-radius:25px;margin-top:40px;margin-bottom:-20px;color: #333333"><strong><i>TOP 5 GIÁ CAO NHẤT</i><strong></h1>
       </div>
       <br>
       <br>
       <div class="row">
         {{#each productsCost }}
        
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                      <div class="row">
                           <div class="form-group">
                              <a href="product/chitietsanpham/{{idSanPham}}" class="col-sm-10"><span style="color:#333333"><strong>{{tenSanPham}}</strong></span></a>   
                                <div id="{{idSanPham}}" class="col-sm-2" style="font-weight:bold;font-family:arial;font-style: italic;"></div>
                           </div>
                       </div>
                </div>
              <div class="panel-body"><img src="{{urlImage_format urlImage1}}" class="img-responsive" style="width:100%;height:200px;" alt="Image">
                  <div class="row">
                    <div class="col-sm-5">
                      <div><span >Giá hiện tại: </span></div>
                      <div><span >Mua ngay: </span></div>
                      <div><span >Lượt Bid : </span></div>
                      <div><span >Giữ giá: </span></div>
                      <div> Còn lại : </div>
                    </div>
                    <div class="col-sm-7">
                      <div><span style="color:blue;"><i>{{number_format giaHienTai}} VNĐ</i></span></div>
                      <div><span style="color:#02EE03;"><i>{{number_format giaMuaNgay}} VNĐ</i></span></div>
                      <div><span style="color:red;"><i>{{luotBid}}</i></span></div>
                       <div><span style="color:red;"><i class="{{idSanPham}}giugia"></i></span></div>
                      <div><i class="{{idSanPham}}extra"></i></div>
                    </div>
                  </div>  
              </div>
              <div class="panel-footer text-center">
                
                {{#if ../layoutVM.isCookie}}

                  <a href="/product/favourite/{{idSanPham}}" id="{{idSanPham}}favor" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></a> 
                  {{else}}
                  <a href="/user/login" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></a> 
                  {{/if}}
              </div>
            </div>
         </div> 
       
         {{/each}}

       </div>
        


        <div><h1 style="width:350px;background-color:#F8F8F8;border: 1px solid #F8F8F8;border-radius:25px;margin-top:40px;margin-bottom:-20px;color: #333333"><strong><i>TOP 5 THỜI GIAN</i><strong></h1></div><br><br>
       <div class="row">
         {{#each productsEndTime }}
        
          <div class="col-sm-4">
            <div class="panel panel-default">
               <div class="panel-heading">
                      <div class="row">
                           <div class="form-group">
                              <a href="product/chitietsanpham/{{idSanPham}}" class="col-sm-10"><span style="color:#333333"><strong>{{tenSanPham}}</strong></span></a>   
                                <div id="{{idSanPham}}" class="col-sm-2" style="font-weight:bold;font-family:arial;font-style: italic;"></div>
                           </div>
                       </div>
                </div>
              <div class="panel-body"><img src="{{urlImage_format urlImage1}}" class="img-responsive" style="width:100%;height:200px;" alt="Image">
                  <div class="row">
                     <div class="col-sm-5">
                      <div><span >Giá hiện tại: </span></div>
                      <div><span >Mua ngay: </span></div>
                      <div><span >Lượt Bid : </span></div>
                      <div><span >Giữ giá: </span></div>
                      <div> Còn lại : </div>
                    </div>
                    <div class="col-sm-7">
                      <div><span style="color:blue;"><i>{{number_format giaHienTai}} VNĐ</i></span></div>
                      <div><span style="color:#02EE03;"><i>{{number_format giaMuaNgay}} VNĐ</i></span></div>
                      <div><span style="color:red;"><i>{{luotBid}}</i></span></div>
                       <div><span style="color:red;"><i class="{{idSanPham}}giugia"></i></span></div>
                      <div><i class="{{idSanPham}}extra"></i></div>
                    </div>
                  </div>  
              </div>
              <div class="panel-footer text-center">
                 
               {{#if ../layoutVM.isCookie}}

                  <a href="/product/favourite/{{idSanPham}}" id="{{idSanPham}}favor" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 
                  {{else}}
                  <a href="/user/login" type="button" class="btn btn-danger btn-lg cart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>;</a> 
                  {{/if}}
              </div>
            </div>
         </div> 
         
         {{/each}}

       </div>


      
    <div class="modal fade" id="ModalBiding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="BuyLabel">Đấu giá</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-inline" id="auction-form">
                                                        <div class="form-group">
                                                            <label class="sr-only" for="textFieldBidAmount">Số tiền đấu giá (VND)</label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon">VND</div>
                                                                <input type="text" class="form-control" id="price" name="BidAmount" placeholder="Amount">
                                                                <div class="input-group-addon">.000</div>
                                                            </div>
                                                        </div>
                                                         <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                         <button type="submit" class="btn btn-success">Đấu giá</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                   
                                                </div>
                                            </div>
                                        </div>
    </div>
      
    

    <script type="text/javascript">
    $("#txtname").change(function(){
          var ten= $("#txtname").val();
          $("#btnSearch").attr("href", "/product/timkiem/?ten="+ten);

    });
   $(document).ready(function(){
     var proBid = JSON.parse('{{{json productsBid}}}');
     var proCost = JSON.parse('{{{json productsCost}}}');
      var proEndTime = JSON.parse('{{{json productsEndTime}}}');
      if({{layoutVM.isCookie}}) {
        
       
           var proFavor = JSON.parse('{{{json layoutVM.productsFavourite}}}');
         }
           var d = new Date();
            var millisecondsNow=Date.parse(d);
           for(var i=0;i<proBid.length;i++)
           {  
                        if(proBid[i].hoTen)
                        $("."+ proBid[i].idSanPham+"giugia").text(hoTen_format(proBid[i].hoTen));
                        else $("."+ proBid[i].idSanPham+"giugia").text("Không có");
                       if({{layoutVM.isCookie}}) {
                          for(var j=0;j<proFavor.length;j++)
                          {

                            if(proFavor[j].idSanPham == proBid[i].idSanPham){
                               $("#"+proBid[i].idSanPham+"favor").html("Đã yêu thích");
                               $("#"+proBid[i].idSanPham+"favor").removeAttr("href");
                              
                            }
                          }
                        }
                  var millisecondsthoiDiemDang  = Date.parse(proBid[i].thoiDiemDang);
                  var t=(millisecondsNow-millisecondsthoiDiemDang)/60000;
                   
                   if(t<30)
                   {
                        $("#"+proBid[i].idSanPham+"").html("new");
                  }
           }
       
         
           for(var i=0;i<proCost.length;i++)
           {        
                      if(proCost[i].hoTen)
                        $("."+ proCost[i].idSanPham+"giugia").text(hoTen_format(proCost[i].hoTen));
                        else $("."+ proCost[i].idSanPham+"giugia").text("Không có");
                    if({{layoutVM.isCookie}}) {
                    for(var j=0;j<proFavor.length;j++)
                    {

                      if(proFavor[j].idSanPham == proCost[i].idSanPham){
                         $("#"+proCost[i].idSanPham+"favor").html("Đã yêu thích");
                         $("#"+proCost[i].idSanPham+"favor").removeAttr("href");
                        
                      }
                    }
                  }
                  var millisecondsthoiDiemDang  = Date.parse(proCost[i].thoiDiemDang);
                  var t=(millisecondsNow-millisecondsthoiDiemDang)/60000;
                  
                   if(t<30)
                   {
                        $("#"+proCost[i].idSanPham+"").html("new");
                  }
           }
         
           for(var i=0;i<proEndTime.length;i++)
           {
                    if(proEndTime[i].hoTen)
                        $("."+ proEndTime[i].idSanPham+"giugia").text(hoTen_format(proEndTime[i].hoTen));
                        else $("."+ proEndTime[i].idSanPham+"giugia").text("Không có");
                   if({{layoutVM.isCookie}}) {
                   for(var j=0;j<proFavor.length;j++)
                    {

                      if(proFavor[j].idSanPham == proEndTime[i].idSanPham){
                         $("#"+proEndTime[i].idSanPham+"favor").html("Đã yêu thích");
                         $("#"+proEndTime[i].idSanPham+"favor").removeAttr("href");
                        
                      }
                    }
                  }
                  var millisecondsthoiDiemDang = Date.parse(proEndTime[i].thoiDiemDang);
                  var t=(millisecondsNow-millisecondsthoiDiemDang)/60000;
                  
                   if(t<30)
                   {
                        $("#"+proEndTime[i].idSanPham+"").html("new");
                  }
           }
      
      setTimeExtra(proBid, proCost, proEndTime);

    });
    function setTimeExtra(pro1, pro2, pro3){

        var myTimer = setInterval(function(){
            //alert("a");
            var now = new Date();  
            for(var i = 0 ; i < pro1.length; i++){
               
                var endTime = new Date(pro1[i].thoiDiemKetThuc);  
                 
                var distance = Date.parse(endTime) - Date.parse(now); 
                if((distance<=0) || (pro1[i].tinhTrang == 1))  $('.' + pro1[i].idSanPham + 'extra').text("Đã kết thúc");
                else $('.' + pro1[i].idSanPham + 'extra').text(formatExtraTime(distance));

                
                //console.log(formatExtraTime(distance));
            }
            for(var i = 0 ; i < pro2.length; i++){
               
                var endTime = new Date(pro2[i].thoiDiemKetThuc);  
                 
                var distance = Date.parse(endTime) - Date.parse(now); 
                if(distance<=0 || pro2[i].tinhTrang == 1)  $('.' + pro2[i].idSanPham + 'extra').text("Đã kết thúc");
                else $('.' + pro2[i].idSanPham + 'extra').text(formatExtraTime(distance));
                //console.log(formatExtraTime(distance));
            }
            for(var i = 0 ; i < pro3.length; i++){
               
                var endTime = new Date(pro3[i].thoiDiemKetThuc);  
                 
                var distance = Date.parse(endTime) - Date.parse(now); 
                if(distance<=0 || pro3[i].tinhTrang == 1)  $('.' + pro3[i].idSanPham + 'extra').text("Đã kết thúc");
                else $('.' + pro3[i].idSanPham + 'extra').text(formatExtraTime(distance));
                //console.log(formatExtraTime(distance));
            }




          }, 1000);
         //setTimeExtra(pro);
    }


    $(".panel").hover(
        function(event) {
            // The mouse has entered the element, can reference the element via 'this'
           
                  $(this).addClass(' magictime puffIn');
        },
        function(event) {
          
         
            // The mouse has left the element, can reference the element via 'this'
        }
    );
  </script>